.container2 {
  max-width: 1200px; 
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 15px; /* Aggiunto padding per dispositivi piccoli */
}

table.alternanza {
  width: 100%;
  border-collapse: collapse;
}

table.alternanza td {
  vertical-align: middle; 
  padding: 20px;
  width: 50%;
}

.testo p {
  font-size: 18px; 
  line-height: 1.6;
}

.immagine img,
.immagine2 img{
  width: 100%;
  max-width: 300px;
  border-radius: 30px; 
  display: block;
  margin: 0 auto;
}

/* Specifiche altezze per .immagine2 e .immagine3 */
.immagine2 img {
  height: 300px;
  object-fit: cover;
}

.immagine3 img {
  height: 250px;
  object-fit: cover;
  border-radius: 30px; 
  display: block;
  margin: 0 auto;
}

/* Media Query per schermi piccoli */
@media (max-width: 1000px) {
  table.alternanza,
  table.alternanza tr,
  table.alternanza td {
    display: block;
    width: 100%;
  }

  table.alternanza td {
    padding: 10px 0;
  }

  .testo p {
    font-size: 16px;
    text-align: center;
  }
  
  .immagine3 img {
    max-height: 150px;
    height: auto !important;
  }
}

/* Media Query per schermi piccoli */
@media (max-width: 600px) {
  table.alternanza,
  table.alternanza tr,
  table.alternanza td {
    display: block;
    width: 100%;
  }

  table.alternanza td {
    padding: 10px 0;
  }

  .testo p {
    font-size: 16px;
    text-align: center;
  }
}
